<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" href='/'>Home</a>

        <a class="nav-item nav-link" href='/reviews'>Reviews</a>

        <a class="nav-item nav-link" href='/profile'>Profile</a>

        <a class="nav-item nav-link" href='/chat'>Chat</a>
    </div>
</nav>