<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a id='home' class="nav-item nav-link" href='/'>Home</a>

        <a id='reviews' class="nav-item nav-link " href='/reviews'>Reviews</a>

        <a id='profile' class="nav-item nav-link" href='/profile'>Profile</a>

        <a id='chat' class="nav-item nav-link" href='/chat'>Chat</a>
    </div>
</nav>




<!-- 
<nav>
    <div class="nav nav-tabs" role="tablist" id="nav-tab myTab">
        <a href="/" class="nav-item nav-link " aria-controls="home" role="tab presentation" data-toggle="tab">Home</a>
        

        <a href="/reviews" class="nav-item nav-link " aria-controls="reviews" role="tab presentation"
            data-toggle="/reviews">Reviews</a>

        <a href="/profile" class="nav-item nav-link " aria-controls="profile" role="tab presentation"
            data-toggle="/profile">Profile</a>

        <a href="/chat" class="nav-item nav-link " aria-controls="chat" role="tab presentation"
            data-toggle="/chat">Chat</a>
    </div>
</nav>

<script>
    $(function () {
        $('a[data-toggle="tab"]').on('click', function (e) {
            window.localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = window.localStorage.getItem('activeTab');
        if (activeTab) {
            $('#myTab a[href="' + activeTab + '"]').tab('show');
            window.localStorage.removeItem("activeTab");
        }
    });
</script>

-->