<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link " href='index.html'>Home</a>

      <a class="nav-item nav-link" href='reviews.html'>Reviews</a>

      <a class="nav-item nav-link" href='people.html'>People</a>

      <a class="nav-item nav-link active" href='chat.html'>Chat</a>
  </div>
</nav>