/*Main*/
html {
  background-color: rgb(0, 0, 0);
  padding: 0 15%;
}

body {
  border-radius: 5px;
  background-color: rgb(17, 12, 12);
  padding-bottom: 10px;
}

header h1 {
  color: rgb(255, 157, 0);
  padding-top: 5%;
  font-family: 'Teko', sans-serif;
  text-align: center;
}


/*Index page specific */
.img-thumbnail {
  width: 150px;
  float: right;
}

/*Reviews page */
h3 {
  color: rgb(151, 99, 1);
  padding-left: 12px;
}

#messages {
  font: 20px;
  color: rgb(151, 99, 1);
  padding-left: 12px;
}

h4 {
  font: 12px;
}

p {
  color: rgb(255, 136, 0);
}

#chattext {
  color: rgb(0, 255, 255);
}

#usermessage {
  color: rgba(221, 141, 76, 0.356);
  font: 12px;
  padding-left: 20px;
}

/*Chat and reviews page*/

input[type=text],
select,
textarea {
  width: 80%;
  padding: 12px 20px;
  border: 1px solid rgb(42, 26, 26);
  border-radius: 4px;
  resize: vertical;
  background-color: rgb(59, 40, 40);
  color: rgba(146, 163, 163, 0.609);
}

label {
  color: rgba(170, 156, 133, 0.424);
  padding: 12px 5px 12px 15px;
  display: inline-block;
}

input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#send[type=submit]:hover {
  transition: 0.5s;
  background-color: #74747442;
}



.container {
  border-radius: 5px;
  padding: 20px;

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.chat-container {
  height: 400px;
  overflow: auto;
  transform: rotate(180deg);
  direction: rtl;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(31, 30, 30);

}

input#uname {
  width: 20%;
  padding: 7px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  background-color: rgb(23, 24, 23);
}

input#chatsubject {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  background-color: rgb(23, 24, 23);

}

.message {
  border-bottom: solid 1px rgb(0, 0, 0);
  padding: 20px;
  transform: rotate(180deg);
  direction: ltr;
}

.avatar {
  float: left;
  margin-right: 5px;
}

.datetime {
  float: right;
  color: rgb(177, 164, 164);
}

.send-message-form input {
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 10px;
}

#send {
  background-color: rgb(73, 72, 72);
  color: rgb(255, 235, 235);
}


button {
  float: right;
}




/* Chat box from codepen.io: https://codepen.io/muratcorlu/pen/KzmQEP?__cf_chl_jschl_tk__=8dc648f61d041cba5920610e8f946fde569f2eeb-1594519393-0-AatW3HXEXzEKNWjNuP_ueje3S8Iiea3UBEj3ZCNDN3mRCjdWrByo7CUSJn0Xpf593wzLyYI6oInQN_Z6t0yxKPjaguEK-bg-YCXsolnUKpuCgP3RXMycU83kqRXxXE3uYGSZjY6oCakiDhAoVUFhLS855gmLY1841V4JBPxIRt4npdbiMKp12LjRWGVNBMcbpBGhwH7DCwXKJJ53LEHcESxe71h7YIHvOhJqu4GSTrUdX_nvsRyCARix9G9Uox84fAYsFbOR469Q4jOj5aOcWP5CQ3WTrn9TPcz5AgxCOFsWhij2HR7FaRrKsTF4yduexMZwupf1662MjkmVYpdUJ6jonAnP2CZHpF1jfeA9h1xc */