

    <section class="container">

        <img src="images/looneytunes.jpg" class="thumbnail" alt="...">

        <p class='indextext'> For testing purposes, this site uses Node.js,Express, Socket.io, Mongoose
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis maiores perferendis possimus voluptatem
            eum veniam accusantium, fugit ullam cumque aspernatur! Placeat eos nostrum minus cum soluta in incidunt
            nulla iste.
        </p>


        <p class='indextext'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia obcaecati tenetur, reiciendis, provident
            eum illum nisi commodi optio perspiciatis neque unde eligendi nostrum? Esse aperiam facilis ipsa sunt, iure
            quaerat? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia tempore fugit qui modi dicta,
            recusandae amet in? Dolorum recusandae a quisquam eum nemo, eveniet corporis eaque enim nihil similique ut.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>


        <p class='indextext'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia obcaecati tenetur, reiciendis, provident
            eum illum nisi commodi optio perspiciatis neque unde eligendi nostrum? Esse aperiam facilis ipsa sunt, iure
            quaerat? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia tempore fugit qui modi dicta,
            recusandae amet in? Dolorum recusandae a quisquam eum nemo, eveniet corporis eaque enim nihil similique ut.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>


        <img src="images/bugsdaffy.gif" class='container gif' alt="...">

    </section> 
    
  