<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>Document</title>
</head>

<body>

    <header>
        <h1 class="h1"><%= pageTitle %></h1>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" href='index.html'>Home</a>

                <a class="nav-item nav-link" href='reviews.html'>Reviews</a>

                <a class="nav-item nav-link" href='people.html'>People</a>

                <a class="nav-item nav-link" href='chat.html'>Chat</a>
            </div>
        </nav>
    </header>

    <section class="container">
        <img src="images/butterflies.jpg" class="img-thumbnail" alt="...">
        <p> For testing purposes, this site uses Node.js,Express, Socket.io, Mongoose
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis maiores perferendis possimus voluptatem
            eum veniam accusantium, fugit ullam cumque aspernatur! Placeat eos nostrum minus cum soluta in incidunt
            nulla iste.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia obcaecati tenetur, reiciendis, provident
            eum illum nisi commodi optio perspiciatis neque unde eligendi nostrum? Esse aperiam facilis ipsa sunt, iure
            quaerat? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia tempore fugit qui modi dicta,
            recusandae amet in? Dolorum recusandae a quisquam eum nemo, eveniet corporis eaque enim nihil similique ut.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>


        <img src="images/butterfly.jpg" class="img-thumbnail" alt="...">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia obcaecati tenetur, reiciendis, provident
            eum illum nisi commodi optio perspiciatis neque unde eligendi nostrum? Esse aperiam facilis ipsa sunt, iure
            quaerat? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia tempore fugit qui modi dicta,
            recusandae amet in? Dolorum recusandae a quisquam eum nemo, eveniet corporis eaque enim nihil similique ut.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
    </section>


    <footer>
        <br>
    </footer>

</body>

</html>