<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= siteName %> </title>
    <%- include('./partials/scripts') %>

    <link rel="stylesheet" href="css/stylesheet.css">
   
</head>


<body>

    <header>

        <h1>Node JS Test</h1>
        <%- include (`./partials/navigation`) %>

    </header>

    <%- include (`../pages/${template}`) %>
    <footer>
        <br>
    </footer>

</body>

</html>